{# purpose of this template: inclusion template for display of related projects #}
{% set hasAdminPermission = permissionHelper.hasComponentPermission('project', constant('ACCESS_EDIT')) %}
<h4>
    {{ item|zikulamultisitesmodule_formattedTitle }}
</h4>
