{# purpose of this template: show output of manage updates action in admin area #}
{% extends 'ZikulaMultisitesModule::adminBase.html.twig' %}
{% block title __('Manage updates') %}
{% block admin_page_icon 'refresh' %}
{% block content %}
    <div class="zikulamultisitesmodule-manageupdates">
        <p>{{ __('This functionality is not implemented yet.') }}</p>
        <p>{{ __('It is going to be added in Multisites version 2.1.0.') }}</p>
        <p>{{ __('Please see this issue for more details:') }} <a href="https://github.com/zikula-modules/Multisites/issues/15" title="{{ __('View issue at GitHub') }}" target="_blank">#15</a></p>
    </div>
{% endblock %}
