/* view pages */
div#z-maincontent.z-module-multisites table tbody tr td {
    vertical-align: top;
}

/* display pages */

.zikulamultisitesmodule-display div.col-sm-3 h3 {
    color: #333;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.zikulamultisitesmodule-display div.col-sm-3 p.managelink {
    margin-left: 18px;
}
/* validation */
div.form-group input:required, div.form-group textarea:required, div.form-group select:required {
    /*border: 1px solid #00a8e6;*/
    background-color: #fff;
}
div.form-group input:required:valid, div.form-group textarea:required:valid, div.form-group select:required:valid {
    /*border: 1px solid green;*/
}
div.form-group input:required:invalid, div.form-group textarea:required:invalid, div.form-group select:required:invalid {
    border: 1px solid red;
}

/* edit pages */
div.zikulamultisitesmodule-relation-leftside {
    float: left;
    width: 25%;
}

div.zikulamultisitesmodule-relation-rightside {
    float: right;
    width: 65%;
}

/* hide legends if z-panels are used as both contain the same labels */
div.multisites-edit .panel legend {
    display: none;
}

.tt-menu {
    max-height: 150px;
    overflow-y: auto;
}

.tt-menu .tt-suggestion {
    margin: 0;
    padding: 0.2em 0 0.2em 20px;
    list-style-type: none;
    line-height: 1.4em;
    cursor: pointer;
    display: block;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    background-color: #fff;
}
.tt-menu .empty-message {
    background-color: #fff;
}

div.zikulamultisitesmodule-autocomplete .tt-menu .tt-suggestion {
    background-image: url("../../../../../../images/icons/extrasmall/tab_right.png");
}
div.zikulamultisitesmodule-autocomplete-with-image .tt-menu .tt-suggestion {
    background-image: url("../../../../../../images/icons/extrasmall/agt_Multimedia.png");
}
.tt-menu .tt-suggestion img {
    max-width: 20px;
    max-height: 20px;
}

.tt-menu .tt-suggestion.tt-cursor {
    background-color: #ffb;
}

.tt-menu .empty-message {
    padding: 5px 10px;
    text-align: center;
}

.tt-menu .tt-suggestion .media-body {
    font-size: 10px;
    color: #888;
}
.tt-menu .tt-suggestion .media-body .media-heading {
    font-size: 12px;
    line-height: 1.2em;
}

/** fix dropdown visibility inside responsive tables */
div.zikulamultisitesmodule-view .table-responsive {
    min-height: 300px;
}
div.zikulamultisitesmodule-view form.zikulamultisitesmodule-quicknav {
    margin: 10px 0;
    padding: 8px 12px;
    border: 1px solid #ccc;
}

div.zikulamultisitesmodule-view form.zikulamultisitesmodule-quicknav fieldset {
    padding: 3px 10px;
    margin-bottom: 0;
}

div.zikulamultisitesmodule-view form.zikulamultisitesmodule-quicknav fieldset h3 {
    margin-top: 0;
    display: none;
}

div.zikulamultisitesmodule-view form.zikulamultisitesmodule-quicknav fieldset label {
    margin-right: 5px;
}

div.zikulamultisitesmodule-view form.zikulamultisitesmodule-quicknav fieldset #num {
    width: 50px;
    text-align: right;
}
