{# purpose of this template: show output of export database as template action in site area #}
{% extends routeArea == 'admin' ? 'ZikulaMultisitesModule::adminBase.html.twig' : 'ZikulaMultisitesModule::base.html.twig' %}
{% block title __('Export database as template') %}
{% block admin_page_icon 'square' %}
{% block content %}
    <div class="zikulamultisitesmodule-site zikulamultisitesmodule-exportdatabaseastemplate">
        <p class="alert alert-info">Please override this template by moving it from <em>/modules/Zikula/MultisitesModule/Resources/views/Site/exportDatabaseAsTemplate.html.twig</em> to either <em>/themes/YourTheme/Resources/ZikulaMultisitesModule/views/Site/exportDatabaseAsTemplate.html.twig</em> or <em>/app/Resources/ZikulaMultisitesModule/views/Site/exportDatabaseAsTemplate.html.twig</em>.</p>
    </div>
{% endblock %}
