{# purpose of this template: show output of manage extensions action in site area #}
{% extends routeArea == 'admin' ? 'ZikulaMultisitesModule::adminBase.html.twig' : 'ZikulaMultisitesModule::base.html.twig' %}
{% block title %}
    {{ __('Manage extensions') }}
{% endblock %}
{% block adminPageIcon %}square{% endblock %}
{% block content %}
    <div class="zikulamultisitesmodule-manageextensions zikulamultisitesmodule-manageextensions">
        <p>Please override this template by moving it from <em>/modules/ZikulaMultisitesModule/Resources/views/Site/manageExtensions.tpl</em> to either your <em>/themes/YourTheme/Resources/views/modules/ZikulaMultisitesModule/Site/manageExtensions.tpl</em> or <em>/config/templates/ZikulaMultisitesModule/Site/manageExtensions.tpl</em>.</p>
    </div>
{% endblock %}
