{# purpose of this template: show output of reapply action in template area #}
{% extends routeArea == 'admin' ? 'ZikulaMultisitesModule::adminBase.html.twig' : 'ZikulaMultisitesModule::base.html.twig' %}
{% block title %}
    {{ __('Reapply') }}
{% endblock %}
{% block adminPageIcon %}square{% endblock %}
{% block content %}
    <div class="zikulamultisitesmodule-reapply zikulamultisitesmodule-reapply">
        <p>Please override this template by moving it from <em>/modules/ZikulaMultisitesModule/Resources/views/Template/reapply.html.twig</em> to either your <em>/themes/YourTheme/Resources/views/modules/ZikulaMultisitesModule/Template/reapply.html.twig</em> or <em>/config/templates/ZikulaMultisitesModule/Template/reapply.html.twig</em>.</p>
    </div>
{% endblock %}
