{# purpose of this template: inclusion template for display of related projects #}
{% set hasAdminPermission = hasPermission('ZikulaMultisitesModule:Project:', '::', 'ACCESS_EDIT') %}
<h4>
    {{ item.getTitleFromDisplayPattern() }}
</h4>
