{include file="Multisites_admin_menu.htm"}
<div class="z-admincontainer">
    <div class="z-adminpageicon">{img modname='core' src='windowlist.gif' set='icons/large'}</div>
    <h2>{gt text="Delete instance"}</h2>
    <form id="deleteInstance" class="z-form" action="{modurl modname="Multisites" type="admin" func="deleteInstance"}" method="post" >
        <input type="hidden" name="authid" value="{secgenauthkey module="Multisites"}" />
        <input type="hidden" name="confirmation" value="1" />
        <input type="hidden" name="instanceId" value="{$instance.instanceId}" />
        <div>{gt text="Instance name"}: <strong>{$instance.instanceName}</strong></div>
        <div>{gt text="Site name"}: <strong>{$instance.siteName}</strong></div>
        <div>{gt text="Site DNS"}: <strong>{$instance.siteDNS}</strong></div>
        <div>&nbsp;</div>
        <div>
        	<label for="instanceName">{gt text="Confirm the instance deletion. It means delete its database and files."}</label>
        </div>
        <div class="z-formrow">
        	<label for="deleteFiles">{gt text="Delete site files"}</label>
            <input type="checkbox" name="deleteFiles" value="1" />
        </div>
        <div class="z-formrow">
        	<label for="deleteDB">{gt text="Delete database (only possible if the user of the database has enough permissions)"}</label>
            <input type="checkbox" name="deleteDB" value="1" />
        </div> 
        <div class="z-formbuttons">
            <a href="javascript:deleteInstance()">
            	{img modname='core' src='button_ok.gif' set='icons/small' __alt="Add" __title="Delete"}
			</a>
            <a href="{modurl modname="Multisites" type="admin" func="main"}">
                {img modname='core' src='button_cancel.gif' set='icons/small' __alt="Cancel" __title="Cancel"}
            </a>
        </div>
    </form>
</div>