{# purpose of this template: inclusion template for display of related site extensions #}
{% set hasAdminPermission = hasPermission('ZikulaMultisitesModule:SiteExtension:', '::', 'ACCESS_EDIT') %}
<h4>
    {{ item.getTitleFromDisplayPattern() }}
</h4>
